@model List<Empleado>

@{
    int numRegistros = 0;
    string oficio = "";
    int numPagina = 1;
    if (ViewData["REGISTROS"] != null)
    {
        numRegistros = (int)ViewData["REGISTROS"];
        oficio = ViewData["OFICIO"].ToString();
    }
}

<h1>Empleados oficio OUT</h1>

<form method="post">
    <label>Introduzca oficio</label>
    <input type="text" name="oficio" class="form-control" />
    <button class="btn btn-dark my-2">
        Buscar empleados
    </button>
</form>

@if (Model != null)
{

    <ul class="list-group list-group-horizontal">
        @for (int i = 1; i <= numRegistros; i += 3)
        {
            <li class="list-group-item my-2">
                <a asp-asp-controller="Paginacion" asp-action="EmpleadosOficioOut" asp-route-posicion="@i" asp-route-oficio="@oficio">
                    @numPagina
                </a>
            </li>
            numPagina++;
        }
    </ul>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>EMP_NO</th>
                <th>APELLIDO</th>
                <th>OFICIO</th>
                <th>SALARIO</th>
                <th>DEPT_NO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Empleado emp in Model)
            {
                <tr>
                    <td>@emp.IdEmpleado</td>
                    <td>@emp.Apellido</td>
                    <td>@emp.Oficio</td>
                    <td>@emp.Salario</td>
                    <td>@emp.IdDepartamento</td>
                </tr>
            }
    </table>
}